1.Assuming that we have some email addresses in the "username@companyname.com" format, please write programto print the company name of a given email address. Both user names and company names are composed of lettersonly

In [3]:
def getCompanyName(email):
    return email.split("@")[1].split(".")[0]

print(getCompanyName(input("Enter email address:")))

Enter email address:hello@google.com
google

2.Write a program that accepts a comma-separated sequence of words as input and prints the words in a commaseparated sequence after sorting them alphabetically

In [6]:
user_input = input("Enter your input seprated by comma:")
user_list = user_input.split(",")
user_list.sort()
output_string = ",".join(user_list)
print(output_string)

Enter your input seprated by comma:without,hello,bag,world
bag,hello,without,world

Create your own Jupyter Notebook for Sets.Reference link: https://www.w3schools.com/python/python_sets.asp

In [15]:
thisset = {"apple", "banana", "cherry"}
print(thisset) 
#Print Set using loop
for x in thisset:
  print(x) 
#check if item is present in list
print("asadsa" in thisset)
#add new item to list
thisset.add("lemon")
print(thisset)
#update list
l = ["jack fruit","pomogranet","orange"]
thisset.update(l)
print(thisset)
#length of set
len(thisset)
#remove item
thisset.remove("cherry")
print(thisset)
#pop removes last element in the set
x = thisset.pop()
print(x)
print(thisset)
#clear removes all element form the set
thisset.clear()
print(thisset)

{'apple', 'banana', 'cherry'}
apple
banana
cherry
False
{'apple', 'lemon', 'banana', 'cherry'}
{'orange', 'pomogranet', 'banana', 'lemon', 'apple', 'jack fruit', 'cherry'}
{'orange', 'pomogranet', 'banana', 'lemon', 'apple', 'jack fruit'}
orange
{'pomogranet', 'banana', 'lemon', 'apple', 'jack fruit'}
set()

4.Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.Input Format:The first line contains n-1 numbers with each number separated by a space.Output Format:Print the missing numberExample:Input:1 2 4 6 3 7 8Output:5Explanation:In the above list of numbers 5 is missing and hence 5 is the inpu

In [16]:
given_list = [1,2,3,4,6,7,8,9]
prepared_list = list(range(1,len(given_list)+1))

for x in prepared_list:
    if x not in given_list:
        print(x)

5

5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.Example:If the input list is12 24 35 24 88 120 155 88 120 155Then the output should be12 24 35 88 120 155Explanation:Third, seventh and ninth element of the list L has been removed because it was already present.Input Format:In one line take the elements of the list L with each element separated by a space.Output Format:Print the elements of the modified list in one line with each element separated by a space.Example:Input: 12 24 35 24Output:12 24 35

In [17]:
input_list = [12,24,35,24,88,120,155,88,120,155]
output_list=[]

for x in input_list:
    if x not in output_list:
        output_list.append(x)

print(output_list)

[12, 24, 35, 88, 120, 155]