In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [23]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [6]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [21]:
strd = titles.sort_values(by='year')
#strd
strd['title'].head(2)

193222            Miss Jerry
51388     The Startled Lover
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [63]:
hamlet = titles.loc[titles['title'] == 'Hamlet']
print("number of movies with title hamelet is",len(hamlet))
print(hamlet)

number of movies with title hamelet is 20
         title  year
6422    Hamlet  2017
10637   Hamlet  1921
39916   Hamlet  1913
52521   Hamlet  1910
62000   Hamlet  2000
67406   Hamlet  1969
82130   Hamlet  1987
88065   Hamlet  2016
101728  Hamlet  1948
122827  Hamlet  1973
133921  Hamlet  1976
154029  Hamlet  2015
161324  Hamlet  1964
172640  Hamlet  1954
173033  Hamlet  2011
178222  Hamlet  1996
189093  Hamlet  2009
192142  Hamlet  1990
198234  Hamlet  1911
202025  Hamlet  2014

### How many movies are titled "North by Northwest"?

In [28]:
north = titles.loc[titles['title'] == 'North by Northwest']
print("number of movies with title North by Northwest is",len(north))
print(north)

number of movies with title North by Northwest is 1
                    title  year
74398  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [74]:
sorted_hamlet = hamlet.sort_values(by='year')
sorted_hamlet.iloc[0,1]

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [70]:
sorted_titles = titles.sort_values(by='year')
t_island = sorted_titles.loc[sorted_titles['title'] == 'Treasure Island']
#print("number of movies with title hamelet is",len(hamlet))
print(t_island)

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [6]:
title_1950 = titles.loc[titles['year'] == 1950]
print("number of movies made in 1950 is",len(title_1950))
print(title_1950)

number of movies made in 1950 is 1113
                          title  year
189          La soif des hommes  1950
268            Sohrab at Rustum  1950
308                       Gemma  1950
314                Rasuna valea  1950
524          Trial Without Jury  1950
...                         ...   ...
244200               Inmaculada  1950
244362        Golden Salamander  1950
244440  Prisoners in Petticoats  1950
244470  The Golden Gloves Story  1950
244820                 Doctor X  1950

[1113 rows x 2 columns]

### How many movies were made in the year 1960?

In [8]:
title_1960 = titles.loc[titles['year'] == 1960]
print("number of movies made in 1960 is",len(title_1960))
print(title_1960)

number of movies made in 1960 is 1549
                                   title  year
52                   Tayna Dimki Karmiya  1960
88                 Tres angelitos negros  1960
226                         Viuda de oro  1960
227                      Tao se feng yun  1960
590                 Mahallenin sevgilisi  1960
...                                  ...   ...
244366                  Trouble with Eve  1960
244555  Makrykostaioi kai Kondogiorgides  1960
244774                        Tall Story  1960
244781                         Telegrame  1960
244819                   Me importa poco  1960

[1549 rows x 2 columns]

### How many movies were made from 1950 through 1959?

In [13]:
between_1950_1959 = titles[titles['year'].between(1950,1959)]
print("number of movies made between 1950 and 1959 is ",len(between_1950_1959))

number of movies made between 1950 and 1959 is  12934

### In what years has a movie titled "Batman" been released?

In [17]:
batman= titles[titles['title']=='Batman']
batman_year= batman['year']
print(batman_year)

39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [26]:
cast = pd.read_csv('cast.csv')
cast.head()
inception_cast= cast[cast['title']=='Inception']
print("Number of roles in the movie Inception is",len(inception_cast))

Number of roles in the movie Inception is 78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [35]:
inception_cast= cast[cast['title']=='Inception']
len(inception_cast[pd.isnull(inception_cast.n)])

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [36]:
len(inception_cast[pd.notnull(inception_cast.n)])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [44]:
north_west= cast[cast['title']=='North by Northwest']
north_west_sorted = north_west[pd.notnull(north_west.n)].sort_values(by='n')
north_west_sorted['character']

871426              Roger O. Thornhill
3518333                    Eve Kendall
1457165                Phillip Vandamm
3157232                Clara Thornhill
356707                   The Professor
3048272                  Mrs. Townsend
1695173                Lester Townsend
1275337                        Leonard
2447081                       Valerian
1811387                Victor Larrabee
665768                           Licht
2295714                     Auctioneer
464736                       Dr. Cross
1508344                 Sergeant Flamm
206471                  Captain Junket
1384780    Charley - Chicago Policeman
Name: character, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [48]:
sleuth= cast[(cast['title']=='Sleuth')&(cast['year']==1972)]
sleuth['name']

326773          Michael Caine
373876         Alec Cawthorne
1448690          Teddy Martin
1465483    John (II) Matthews
1705394      Laurence Olivier
2724553    Eve (III) Channing
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [51]:
sleuth= cast[(cast['title']=='Sleuth')&(cast['year']==2007)]
sleuth.sort_values(by='n')['name']

326774           Michael Caine
1293634               Jude Law
1805907          Harold Pinter
260242         Kenneth Branagh
373877     Alec (II) Cawthorne
2724552      Eve (II) Channing
3370424      Carmel O'Sullivan
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [61]:
hamlet= cast[(cast['title']=='Hamlet')&(cast['year']==1921)]
len(hamlet)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [62]:
hamlet= cast[(cast['title'].str.contains('Hamlet'))&(cast['year']==1966)]
len(hamlet)

0

### How many "Hamlet" roles have been listed in all film credits through history?

In [64]:
hamlet= cast[(cast['title'].str.contains('Hamlet'))]
len(hamlet)

989

### How many people have played an "Ophelia"?

In [66]:
ophelia= cast[(cast['character']=='Ophelia')]
len(ophelia)

117

### How many people have played a role called "The Dude"?

In [67]:
dude= cast[(cast['character']=='The Dude')]
len(dude)

19

### How many people have played a role called "The Stranger"?

In [68]:
stranger= cast[(cast['character']=='The Stranger')]
len(stranger)

212

### How many roles has Sidney Poitier played throughout his career?

In [70]:
sidney= cast[(cast['name']=='Sidney Poitier')]
len(sidney)

43

### How many roles has Judi Dench played?

In [71]:
Judi= cast[(cast['name']=='Judi Dench')]
len(Judi)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [76]:
cary= cast[(cast['name']=='Cary Grant')&(cast['n']==2)&(cast['year'].between(1940,1949))]
cary

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [77]:
cary= cast[(cast['name']=='Cary Grant')&(cast['n']==1940)&(cast['year'].between(1940,1949))]
cary

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

### How many roles were available for actors in the 1950s?

In [83]:
role = cast[(cast['type']=='actor')&(cast['year'].between(1940,1949))]
len(role['character'].unique())

87616

### How many roles were available for actresses in the 1950s?

In [84]:
role = cast[(cast['type']=='actresses')&(cast['year'].between(1940,1949))]
len(role['character'].unique())

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [87]:
lead = cast[(cast['n']==1)]
len(lead)

153233

### How many non-leading roles were available through from the beginning of film history through 1980?

In [88]:
not_lead = cast[(cast['n']!=1)]
len(not_lead)

3632943

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [91]:
minor = cast[(cast['year'].between(1980,1989))&(pd.isnull(cast.n))]
len(minor)

53028