In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
dataset1=pd.read_csv("general_data.csv")
dataset1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

H0 - There is no dependency between Attrition and  BusinessTrave1

H1 - There is dependency between Attrition and  BusinessTrave1

In [9]:
 from scipy.stats import chi2_contingency
chitable = pd.crosstab(dataset1.Attrition, dataset1.BusinessTravel)
chitable

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     414                624           2661
Yes                     36                207            468

In [10]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

72.54724105696552 1.764276972983189e-16

# Infrence1
p value is less than 0.05 so null hypothesis is rejected.

In [11]:
 from scipy.stats import chi2_contingency
chitable = pd.crosstab(dataset1.Attrition, dataset1.Department)
chitable

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2430   1137
Yes                      57                     453    201

In [12]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

29.090274924488266 4.820888218170406e-07

# Infrence2
H0 - There is no dependency between Attrition and  Department

H1 - There is dependency between Attrition and  Department
p value is less than 0.05 so null hypothesis is rejected.

In [13]:
 from scipy.stats import chi2_contingency
chitable = pd.crosstab(dataset1.Attrition, dataset1.EducationField)
chitable

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1515,402,1167,216,351
Yes,33,303,75,225,30,45

In [14]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

46.194921001730584 8.288917469574179e-09

 # Infrence3
H0 - There is no dependency between Attrition and  EducationField

H1 - There is dependency between Attrition and  EducationField
p value is less than 0.05 so null hypothesis is rejected.

In [15]:
 from scipy.stats import chi2_contingency
chitable = pd.crosstab(dataset1.Attrition, dataset1.Gender)
chitable

Gender     Female  Male
Attrition
No           1494  2205
Yes           270   441

In [16]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

1.349904410246582 0.24529482862926827

 # Infrence4
H0 - There is no dependency between Attrition and  Gender

H1 - There is dependency between Attrition and  Gender
p value is greater than 0.05 so null hypothesis is accepted.

In [17]:
 from scipy.stats import chi2_contingency
chitable = pd.crosstab(dataset1.Attrition, dataset1.MaritalStatus)
chitable

MaritalStatus  Divorced  Married  Single
Attrition
No                  882     1767    1050
Yes                  99      252     360

In [18]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

138.49102962254608 8.45385940605786e-31

# # Infrence5
H0 - There is no dependency between Attrition and  MaritalStatus

H1 - There is dependency between Attrition and  MaritalStatus
p value is greater than 0.05 so null hypothesis is accepted.